<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Electro-Quiz</title>

    <link rel="icon" href="../static/images/elmt.ico"> <!--Icono-->

    <!--tipografia externa-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!--invocando los styles css-->
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/categorias.css">
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/enviarpregunta.css">

</head>
<body>
    <div class="useless">
       
        <header class="main-header">

            <div class="topnav">
                <a class="active" href="/">Inicio</a>
                <a href="file:///C:/Users/aleja/Desktop/UTEC/2020-2/Dise%C3%B1o%20de%20Software/Frontend/templates/categorias.html#" >Puntajes</a>
                <a href="/enviar_pregunta">Enviar Preguntas</a>
                <a href="/logout">logout</a>
            </div>
        
        </header>
    </div> 
    <br>

    
    
        <div class="col-md-4">
            <div class="cards ff">
                <div class="card electricos_color ff">
                    <H2 class="title">Circuitos Eléctricos</H2>
                    
                        <img src=https://www.espaciohonduras.net/images/electronica/articulos/Circuito_integrado/Circuito_integrado.jpg  width="300" height="160" class="card-img-top" alt="...">
                        <br>
                                    
                        <div class="form-group">
                            <a class="btn btn-primary btn-block"  href="/pregunta/">Empezar Quiz</a>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary btn-block"  href="/">Ver Puntajes</a>
                        </div>
                </div>
            </div>
            </div>
        
</body>
</html>

